
a {
  color: grey;
  margin:10px;
  text-decoration: none;
  border: 2px solid steelblue;
  color: 2px solid steelblue;
  padding: 10px;
  border-radius: 2px;
}
a.active {
  color: blue 
}

.navbar {
  padding:10px;
  border: 2px solid orange;
  display: flex;
  justify-content: space-between
}

.page-content {
  padding:10px;
  border: 2px solid orange;
}
.showcard{
  display:block;
}

.hidecard{
  display:none;
}

